@import url("https://fonts.googleapis.com/css?family=Roboto+Slab:300,400");

html, body {
	margin: 0;
	padding: 0;
	background-color: #f0f0f0;
	font-family: 'Roboto', sans-serif;
}

.container {
	width: 100%;
	text-align: center;
/*	height: 100vh;*/
	display: table;
}

.center {
	display: table-cell;
/*	vertical-align: middle;*/
	margin: auto;
}

h1 {
	font-size: 50px;
	margin-bottom: 20px;
/*	margin-top: 0px;*/
	font-family: "Roboto Slab", sans-serif;
}

.title em {
	color: #36c;
	font-style: normal;
}

.search {
	background: white;
	border-radius: 30px;
	width: 400px;
	padding: 5px;
	margin: auto;
}

input[type=text] {
	border: 1px solid transparent;
	padding: 10px;
	width: 320px;
	font-style: italic;
	caret-color: #36c;
}

input:focus, input:active, button:active, button:focus {
	outline: none;
}

.search-button {
	background-color: #36c;
	border: 0px;
	padding: 10px;
	cursor: pointer;
	color: white;
}

.search-button {
	border-radius: 50%;
	color: white;
	float: right;
	z-index: 10;
}

.random:active, .random {
	text-decoration: none;
	color: #36c;
}

.ui-autocomplete {
  position: absolute;
  top: 0;
  left: 0;
  width: 400px;
  max-height: 200px;
  z-index: 9999;
  border: 1px solid transparent;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0px 1px 6px 1px rgba(0, 0, 0, 0.1);
}

.ui-autocomplete a {
  font-weight: normal;
  color: #333333;
}


.ui-state-hover,
.ui-widget-content .ui-state-hover,
.ui-widget-header .ui-state-hover,
.ui-state-focus,
.ui-widget-content .ui-state-focus,
.ui-widget-header .ui-state-focus {
	border: 1px solid transparent;
	font-weight: normal;
	color: #212121;
  	background: #eeeeee;
}

.ui-widget-header > li:first-child,
.ui-widget-content > li:first-child {
    border-radius: 10px 10px 0 0;
}

.ui-widget-header > li:last-child,
.ui-widget-content > li:last-child {
    border-radius: 0 0 10px 10px;
}

.result-container {
	width: 100%;
	padding: 10px 0 5%;
}

.results {
	width: 80%;
	margin: auto;
}

.results a {
	text-decoration: none;
	color: #36c;
	font-weight: bold;
	font-size: 20px;
}

footer {
	width: 100%;
	position: fixed;
	bottom: 0;
	text-align: center;
	font-size: 14px;
}