@import url("https://fonts.googleapis.com/css?family=Roboto+Slab:300,400");

html, body {
	margin: 0;
	padding: 0;
	background-color: #f0f0f0;
	font-family: 'Roboto', sans-serif;
}

.container {
	width: 100%;
	text-align: center;
	height: 100vh;
	display: table;
}

.center {
	display: table-cell;
	vertical-align: middle;
	margin: auto;
}

.title {
	font-size: 60px;
	margin-bottom: 20px;
	margin-top: 0px;
	font-family: "Roboto Slab", sans-serif;
}

.title em {
	color: #36c;
	font-style: normal;
}

.search-container {
	overflow: auto;
	width: 600px;
	margin: auto;
}

.search {
	position: relative;
	width: 100%;
	overflow: hidden;
}

#search-input {
	border-radius: 30px;
    background-color: white;
    overflow: hidden;
    height: 46px;
}

input[type=text] {
	border: 1px solid transparent;
	padding: 14px 4%;
  	width: 91%;
  	position: relative;
	font-style: italic;
	caret-color: #36c;
}

input:focus, input:active, button:active, button:focus {
	outline: none;
}

.search-button {
	position: absolute;
	top: 0;
	right: 0;
	background-color: #36c;
	margin: 5px;
	border: 0px;
	padding: 10px;
	cursor: pointer;
	color: white;
	border-radius: 50%;
	z-index: 10;
}

.random:active, .random {
	text-decoration: none;
	color: #36c;
}

.ui-autocomplete {
  position: absolute;
  top: 0;
  left: 0;
  max-height: 200px;
  z-index: 9999;
  border: 1px solid transparent;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0px 1px 6px 1px rgba(0, 0, 0, 0.1);
}

.ui-autocomplete a {
  font-weight: normal;
  color: #333333;
}

.ui-state-hover,
.ui-widget-content .ui-state-hover,
.ui-widget-header .ui-state-hover,
.ui-state-focus,
.ui-widget-content .ui-state-focus,
.ui-widget-header .ui-state-focus {
	border: 1px solid transparent;
	font-weight: normal;
	color: #212121;
  	background: #eeeeee;
}

.ui-widget-header > li:first-child,
.ui-widget-content > li:first-child {
    border-radius: 10px 10px 0 0;
}

.ui-widget-header > li:last-child,
.ui-widget-content > li:last-child {
    border-radius: 0 0 10px 10px;
}

#result-container {
	width: 100%;
	padding: 10px 0 5%;
	display: none;
}

.results {
	width: 75%;
	margin: auto;
	padding: 0;
}

.results a {
	text-decoration: none;
	color: #36c;
	font-weight: bold;
	font-size: 20px;
}

.resultTable {
	background: #fcfcfc;
	padding: 20px;
	margin: 10px;
	border-radius: 5px;
	box-shadow: 2px 2px 4px rgba(0,0,0,.1)
}

.resultTable p {
	margin: 5px 0px 0px;
}

/*footer {
	width: 100%;
	position: fixed;
	bottom: 0;
	text-align: center;
	font-size: 14px;
}*/

@media (max-width:700px) {
	.search-container {
		width: 80%;
	}
	.title {
		font-size: 40px;
	}
} 